<h1>Product Data</h1>
<p>This component demonstrates fetching Employee data from the server.</p>
<p *ngIf="!productList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-producto']">Create New</a>
</p>
<table class='table' *ngIf="productList">
    <thead>
        <tr>
          
            <th>ID</th>
            <th>ID Categoria</th>
            <th>ID proveedor</th>
            <th>ID Unidad Medida</th>
            <th>ID Impuesto</th>
            <th>ID Exoneracion</th>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>CantidadDisponible</th>
            <th>Precio Unitario</th>
            <th>Costo Unitario</th>
            <th>Codigo</th>
            <th>Fecha Creacion</th>
            <th>Fecha Modificacion</th>
            <th>Gravado</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of productList" >
            <td>{{ emp.id }}</td>
            <td>{{ emp.idcategoria }}</td>
            <td>{{ emp.idproveedor }}</td>
            <td>{{ emp.idunidadmedida }}</td>
            <td>{{ emp.idimpuesto }}</td>
            <td>{{ emp.idexoneracion }}</td>
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.detalle }}</td>
            <td>{{ emp.cantidaddisponible }}</td>
            <td>{{ emp.preciounitario }}</td>
            <td>{{ emp.costounitario }}</td>
            <td>{{ emp.codigo }}</td>
            <td>{{ emp.fechacreacion }}</td>
            <td>{{ emp.fechamodificacion }}</td>
            <td>{{ emp.gravado }}</td>
            <td>{{ emp.activo }}</td>
           
            <td>
                <a [routerLink]="['/Producto/Editar/', emp.id]">Editar</a> |

            </td>
        </tr>
    </tbody>
</table>