<h1>Product Data</h1>
<p>This component demonstrates fetching Employee data from the server.</p>
<p *ngIf="!productList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-producto']">Create New</a>
</p>
<table class='table' *ngIf="productList">
    <thead>
        <tr>          
            <th>ID</th>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>CantidadDisponible</th>
            <th>Precio Unitario</th>
            <th>Costo Unitario</th>
            <th>Codigo</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of productList" >
            <td>{{ emp.id }}</td>
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.detalle }}</td>
            <td>{{ emp.cantidadDisponible }}</td>
            <td>{{ emp.precioUnitario }}</td>
            <td>{{ emp.costoUnitario }}</td>
            <td>{{ emp.codigo }}</td>           
            <td>
                <a [routerLink]="['/producto/edit/', emp.id]">Editar</a> |

            </td>
        </tr>
    </tbody>
</table>