<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{title}}</h1>
    <h3>Producto</h3>
    <hr />
    <form [formGroup]="productoForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group row">
            <label class="control-label col-md-12" for="dd_categoria">Categoria</label>
            <div class="col-md-4">
                <select id="dd_categoria" class="form-control" formControlName="categoria">
                    <option *ngFor="let c of productoCategoriaList" [ngValue]="c">{{ c.nombreCategoria }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="dd_proveedor">Proveedor</label>
            <div class="col-md-4">
                <select id="dd_proveedor" class="form-control" formControlName="proveedor">
                    <option *ngFor="let c of Listproveedores" [ngValue]="c">{{ c.nombre }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="dd_unidadMedida">Unidad Medida</label>
            <div class="col-md-4">
                <select id="dd_unidadMedida" class="form-control" formControlName="unidadMedida">
                    <option *ngFor="let c of ListunidadMedida" [ngValue]="c">{{ c.descripcion }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-12" for="nombre">Nombre</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="nombre">
            </div>
            <span class="text-danger" *ngIf="productoForm.hasError('required', 'nombre') && formDir.submitted">
                Nombre is required.
            </span>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-12" for="detalle">Detalle</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="detalle">
            </div>
            <span class="text-danger" *ngIf="productoForm.hasError('required', 'detalle') && formDir.submitted">
                Detalle is required.
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="cantidad">Cantidad Disponible</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="cantidad" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-12" for="codigo">Codigo</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="codigo">
            </div>
            <span class="text-danger" *ngIf="productoForm.hasError('required', 'codigo') && formDir.submitted">
                Nombre is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="precioUnitario">Precio Unitario</label>
            <div class="col-md-4">
                <input class="form-control" type="number" id="precioUnitario" name="precioUnitario">
            </div>
            <span class="text-danger" *ngIf="productoForm.hasError('required', 'precioUnitario') && formDir.submitted">
                precioUnitario is required
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="costoUnitario">Costo Unitario</label>
            <div class="col-md-4">
                <input class="form-control" type="number" formControlName="costoUnitario">
            </div>
            <span class="text-danger" *ngIf="productoForm.hasError('required', 'costoUnitario') && formDir.submitted">
                costoUnitario is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="dd_impuesto">Tipo Impuesto</label>
            <div class="col-md-4">
                <select id="dd_impuesto" class="form-control" formControlName="impuesto">
                    <option *ngFor="let c of ListImpuesto" [ngValue]="c">{{ c.nombre }}</option>
                </select>
            </div>
        </div>
        <div class="row checkbox">
            <label class="center-block">
                <input type="checkbox" formControlName="gravado">Gravado
            </label>
        </div>
        <div class="row checkbox">
            <label class="center-block">
                <input type="checkbox" formControlName="activo">Activo
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</body>
</html>